<h2>Login</h2>
<form [formGroup]="form" class="login-form" (ngSubmit)="onSubmitLogin()">
  <mat-form-field class="login-full-width">
    <input [ngClass]="{'error':isValid('email')}" type="email" matInput placeholder="Email" formControlName="email">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
    </div>  
</mat-form-field>

  <mat-form-field class="login-full-width">
    <input [ngClass]="{'error':isValid('password')}" matInput placeholder="Password" type="password"
           formControlName="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </mat-form-field>

  <button mat-raised-button color="primary">Sign in</button>
  <a routerLink="/register" class="primary">Register</a>
</form>
