<h1>Lecturers Search</h1>
<input type="text" #searchInput (keyup)="search(searchInput.value)" placeholder="search lecturers..." class="input">

<p>Search by:</p>
<div>
    <input type="radio" id="searchOption1" name="searchOptions" value="name" checked>
    <label for="searchOption1">Name</label>

    <input type="radio" id="searchOption2" name="searchOptions" value="expertise">
    <label for="searchOption1">Area of Expertise</label>

    <input type="radio" id="searchOption3" name="searchOptions" value="availability">
    <label for="searchOption1">Availability</label>
</div>

<div *ngIf="(lecturers$ | async)?.length > 1">
    <app-lecturers [ELEMENT_DATA]="lecturers"></app-lecturers>
</div>

<div *ngIf="(lecturers$ | async)?.length < 1">
  <hr>
  <p>
    No results found :(
  </p>
</div>

