<h3>
  Lectrurer's Profile
</h3>


<p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" value="Uri">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" value="Shaked">
  </mat-form-field>

</p>
<p>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</p>
<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let theme of themes"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(theme)">
      {{theme}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Add theme..."
      #themeInput
      [formControl]="themeCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let theme of filteredThemes | async" [value]="theme">
      {{theme}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


